@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

:root {
    --white: #ddd;
    --green900: #22292b;
    --green600: #2D4848;
    --green400: #283838;
    --green200: #171f1f;
    --dark500: #5b5b5b;
    --dark300: #2B2B2B;
}